!!! 5
/[if lt IE 7]
  %html{:class => ["no-js", "lt-ie9", "lt-ie8", "lt-ie7"]}/
/[if IE 7]
  %html{:class => ["no-js", "lt-ie9", "lt-ie8"]}/
/[if IE 8]
  %html{:class => ["no-js", "lt-ie9"]}/
/[if gt IE 8]
  %html{:class => "no-js"}

%html{:lang => "en"}
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge;chrome=1'}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}
    %title Higher Learning
    = feed_tag 'Higher Learning Feed', 'feed.xml'
    :css
      body { padding-top: 50px; padding-bottom: 20px; }
    = javascript_include_tag 'top'
    = stylesheet_link_tag 'all'
    = yield_content :assets

  %body
    /[if lt IE 7]
      %p{:class => "chromeframe"}
        Your are using an <strong>outdated</strong> browser. Please #{link_to 'upgrade your browser', 'http://browsehappy.com/'} or #{link_to 'activate Google Chrome Frame', "http://www.google.com/chromeframe/?redirect=true"} to improve your experience.

    %div{:class => "container"}
      %div{:class => ['navbar', 'navbar-inverse', 'navbar-fixed-top']}
        %div{:class => 'navbar-inner'}
          %div{:class => 'container'}
            = link_to('Higher Learning', '/', :class => 'brand')
            = link_to('About', '/about.html', :class => 'brand')
            = link_to('RSS', '/feed.xml', :class => 'brand')

      %div{:class => 'row'}
        %div{:id => 'main', :role => 'main', :class => 'span8'}
          = yield

        %div{:class => 'span4'}
          %h2 Recent Articles
          %ol
            - blog.articles[0...10].each do |article|
              %li
                =link_to article.title, article
                %span 
                  = article.date.strftime('%b %e')

          %h2 Tags
          %ol
            - blog.tags.each do |tag, articles|
              %li
                #{link_to tag, tag_path(tag)} (#{articles.size})

          %h2 By Year
          %ol
            - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
              %li
                #{link_to year, blog_year_path(year)} (#{articles.size})

    = javascript_include_tag 'bottom'
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js')

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
