!!! 5
/[if lt IE 7]
  %html{:class => ["no-js", "lt-ie9", "lt-ie8", "lt-ie7"]}/
/[if IE 7]
  %html{:class => ["no-js", "lt-ie9", "lt-ie8"]}/
/[if IE 8]
  %html{:class => ["no-js", "lt-ie9"]}/
/[if gt IE 8]
  %html{:class => "no-js"}

%html{:lang => "en"}
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge;chrome=1'}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}
    %title= yield_content(:title) ? "#{yield_content(:title)} - Higher Learning" : "Higher Learning"
    = feed_tag 'Higher Learning Feed', 'feed.xml'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield_content :assets

  %body
    /[if lt IE 7]
      %p{:class => "chromeframe"}
        Your are using an <strong>outdated</strong> browser. Please #{link_to 'upgrade your browser', 'http://browsehappy.com/'} or #{link_to 'activate Google Chrome Frame', "http://www.google.com/chromeframe/?redirect=true"} to improve your experience.

    %nav{:class => ['navbar', 'navbar-inverse', 'navbar-fixed-top'], :role => 'navigation'}
      %div{:class => "container"}
        %div{:class => "navbar-header"}
          %button{:type => 'button', :class => 'navbar-toggle', :data => {:toggle => 'collapse', :target => '.navbar-ex1-collapse'}}
            %span{:class => 'sr-only'}
              Toggle navigation
            %span{:class => 'icon-bar'}
            %span{:class => 'icon-bar'}
            %span{:class => 'icon-bar'}
          %a{:class => 'navbar-brand', :href => '/'} Higher Learning

        / Collect the nav links, forms, and other content for toggling
        %div{:class => ['collapse', 'navbar-collapse', 'navbar-ex1-collapse']}
          %ul{:class => ['nav', 'navbar-nav']}
            %li
              %a{:href => '/about.html'} About
            %li
              %a{:href => '/feed.xml'} RSS

    %div{:class => "container"}

      %div{:class => 'row'}
        %div{:class => 'col-lg-8'}
          = yield

        %div{:class => 'col-lg-4'}
          
          %div{:class => 'well'}
            %h4 Recent Articles
            %div{:class => 'row'}
              = partial 'recent_article_block', :locals => {:articles => blog.articles[1...5]}
              = partial 'recent_article_block', :locals => {:articles => blog.articles[6...10]}

      %hr
      %footer
        %div{:class => 'row'}
          %div{:class => 'col-lg-12'}
            %p
              Copyright &copy; Higher Learning 2013

    = javascript_include_tag 'bottom'
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js')

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
